* {
    margin: 0;
    padding: 0;
}

:root {
    font-family: "Alice", serif;
    line-height: 150%;
    color: #573A37;
}

body {
  background-image: url(assets/bg.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: top center;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background-color: rgba(87, 56, 36, 0.75); /* #573824 */
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  z-index: -1;
}

#page {
    box-sizing: border-box;
    width: 800px;
    padding: 24px;
    background-color: #F0E8C2;
    border-radius: 24px;
    margin: 48px auto 28px;
}

.cupcake {
    width: 100%;
}

main {
    padding: 24px;
}

section + section {
    margin-top: 24px;
}

#about p + p {
    margin-top: 12px
}

h1 {
    line-height: 140%;
    font-size: 40px;
}

h2 {
    font-size: 24px;
}

h1, h2 {
    color: #291B1A;
    margin-bottom: 4px;
    line-height: 150%;
}

footer {
    color: #F0E8C2;
    text-align: center;
    padding-bottom: 48px;
}

footer img {
    vertical-align: middle;
    width: 14px;
    height: 12px;
}